@using Microsoft.AspNet.Identity
@*@model IEnumerable<WebApplication3.Models.customer>*@
@if (Session["TaiKhoan"]!=null)
{
    using (Html.BeginForm("SessionLogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello @ViewBag.name
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Đăng ký", "Index", "Login", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Index", "Register", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

