
    <div class="col-sm-3">
        <div class="pull-right">
            <input name="namePro" type="text"  placeholder="nhập tên sản phẩm m..."/>   <input value="Search" class="btn btn-default" name="search" type="button" onclick="location.href='@Url.Action("SearchProduct")'" />
        </div>
    </div>
