@model PagedList.IPagedList<WebApplication3.Models.Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "View All"; Layout = "~/Views/Shared/_LayoutPageADM.cshtml";
}
<h2>Index</h2>
<p><button class="btn btn-primary btn-sm" onclick="Create('@Url.Action("Create", "Categories")')"> Create new</button></p>
<ul class="nav nav-tabs ">
    <li class="active"><a data-toggle="tab" href="#view_all">View all</a></li>
    <li><a data-toggle="tab" href="#create_new">Thao tác</a></li>
</ul>
<div class="tab-content">
    <div id="view_all" class="tab-pane fade in active">@Html.Action("Viewallcategories", "Categories")</div>
    <div id="create_new" class="tab-pane fade in">@Html.Action("Create", "Categories")</div>
</div>