@using WebApplication3.Models;
@model IEnumerable<Category>
    @{pjt3hEntities db=new pjt3hEntities();}

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="@Url.Action("Index","CategoryUser",new { @id=item.id})"> <span class="pull-right ">(@db.Products.Where(c=>c.categoryid==item.id).Count())</span>@item.name</a></h4>
           
        </div>
    </div>
}
