@model IEnumerable<WebApplication3.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageADM.cshtml";
}
@*<button class="btn btn-primary" onclick="location.href='@Url.Action("Create","customers")'">Tạo mới</button> </p>*@
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#view_all">View all</a></li>
</ul>
<div class="tab-pane fade in active" id="view_all">@Html.Action("ViewAll","customers")</div>