@model IEnumerable<WebApplication3.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageADM.cshtml";
}

<h2>Index</h2>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create","Products")'">Tạo mới</button>
</p>


<div class="form-horizontal">
    <table class="table table-bordered table-responsive" id="product">
        <thead>
            <tr>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Ảnh
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Thông tin sản phẩm
                </th>

                <th>
                    Mô tả sản phẩm
                </th>
                <th width="100">Thao tác</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts{ 
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/jquery.dataTables.min.js"></script>
@*<script src="~/Scripts/dataTables.bootstrap.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(
        function () {
        $.getJSON('@Url.Action("GetAllProduct","Products")', function (data) {
                var tr;
                for (var i = 0; i < data.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + data[i].name + "</td>");
                    tr.append("<td><img src='" + data[i].image + "' width='150'></td>");
                    tr.append("<td>" + data[i].price + "</td>");
                    tr.append("<td>" + data[i].quantity + "</td>");
                    tr.append("<td>" + data[i].information + "</td>");
                    tr.append("<td>" + data[i].description + "</td>");
                    tr.append("<td><a class='btn btn-success btn-sm fa fa-pencil fa-lg' href='Products/Edit/" +
                        data[i].id + "'></a> <a class='btn btn-info btn-sm fa fa-asterisk' href='Products/Details/" +
                        data[i].id + "'></a>  <a class='btn btn-danger btn-sm fa fa-trash-o fa-lg' href='Products/Delete/" +
                        data[i].id + "'></a></td>");
                    $('table').append(tr);
                }
                $('#product').DataTable();
            });
        });
    $(window).scroll(function () {
        var wScroll = $(this).scrollTop();
        var showScrollButton = 50;
        if (wScroll > showScrollButton) {
            $('#top').fadeIn();
        }
        else {
            $('#top').fadeOut();
        }
    });
    $('body').append('<a id="top" href="#"> <img src="/image/images.jpg" width="50px" height="150px"/> </a>');
    $('#top').css({
        "bottom": "0px",
        "right": "0px",
        "position": "fixed",
        "cursor": "pointer",
        "z-index": "1",
        "display": "none",
        "background-color": "rgba(0,0,0,0.7)",
        
        "corlor": "#ffffff"
    });
    $('#top').click(function () {
        $('body,html').animate(
            {
                scrollTop: 0
            }, 500);
        return false;
    });
</script>
}